.build/
.DS_Store
.DS_Store?
.swiftpm/
.xcuserstate
*.dSYM
*.dSYM.zip
*.hmap
*.ipa
**._*
**.log
**.Spotlight-V100
**.Trashes
**ehthumbs.db
**Thumbs.db
0-*
build/
Package.pins
Packages/
playground.xcworkspace
Pods/
timeline.xctimeline
xcuserdata/
