<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482039309910-vgqm87ftapdemrl2nv4ornmthar26n8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482039309910-vgqm87ftapdemrl2nv4ornmthar26n8h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>482039309910-98dtpl4m547t5g0q0svhpsbkmf04022t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB1kI-WjNjgBykx_tW_6Hm-dnsJN_OjJjM</string>
	<key>GCM_SENDER_ID</key>
	<string>482039309910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digitaltechnologies.wrf</string>
	<key>PROJECT_ID</key>
	<string>whiterabbitfamily-7ea22</string>
	<key>STORAGE_BUCKET</key>
	<string>whiterabbitfamily-7ea22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482039309910:ios:861a65d1642fa526297df7</string>
	<key>DATABASE_URL</key>
	<string>https://whiterabbitfamily-7ea22.firebaseio.com</string>
</dict>
</plist>